<h2>{{ title }}</h2>
<div class="play-area">
  <div class="table-body">
    <div class="button-row">
      <div
        *ngFor="let column of arrayOfNumbersFromOneToColumnCount"
        class="game-button"
      >
        <button
          (click)="userClicks(column)"
          [disabled]="!options || winner || noMoreRoomInColumn(column)"
        >
          ⬇️
        </button>
      </div>
    </div>
    <div *ngFor="let row of boardUi" class="play-area-row">
      <div
        *ngFor="let column of row"
        class="play-area-element"
        [class]="column.StyleClass"
      >
        {{ column.Value }}
      </div>
    </div>
  </div>
</div>
<div *ngIf="winner">
  {{ winner }} wins! <button (click)="resetGame()">Play again</button>
</div>
<div *ngIf="!options"><button (click)="resetGame()">Start game</button></div>
<div *ngIf="!options || winner">
  <h3>Options</h3>
  <select id="starts-first">
    <option value="random">Random</option>
    <option value="player">Player</option>
    <option value="opponent">Opponent</option>
  </select>
</div>
