h1 {
  text-align: center;
}

table {
  background: #222;
  border: #222 solid;
  border-width: 8px 32px 16px;
  border-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;

  th {
    button {
      margin-bottom: 4px;
      padding: 8px 0;
      width: 100%;
    }
  }

  td {
    border-radius: 16px;
    height: 32px;
    text-align: center;
    width: 32px;

    &.play-x-player {
      background-color: yellow;
    }

    &.play-x-computer {
      background-color: red;
    }

    &.play-x-blank {
      background-color: darkgray;
      color: darkgray;
    }
  }
}

.start-game-dialog {
  background: #0004;
  border-radius: 8px;
  margin: 16px auto;
  padding: 8px 16px;
  width: fit-content;

  button {
    background: #22b;
    color: #eef;
  }
}

.winner-dialog {
  background: #0f09;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 8px 16px;
  width: fit-content;

  h2 {
    margin-top: 0;
  }

  button {
    background: #22b;
    color: #eef;
    margin: 0 auto;
  }
}

.options-dialog {
  background: #012e;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 auto;
  width: fit-content;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  #starts-first {
    margin-left: 16px;
  }
}