<h2>{{ title }}</h2>
<button
  *ngFor="let column of [1, 2, 3, 4, 5, 6, 7]; index as i"
  class="game-button"
  (click)="userClicks(column)"
  [disabled]="!options || winner || noMoreRoomInColumn(column)"
>
  ⬇️
</button>
<div class="play-area">{{ boardText }}</div>
<div *ngIf="winner">
  {{ winner }} wins! <button (click)="resetGame()">Play again</button>
</div>
<div *ngIf="!options"><button (click)="resetGame()">Start game</button></div>
<div *ngIf="!options || winner">
  <h3>Options</h3>
  <select id="starts-first">
    <option value="random">Random</option>
    <option value="player">Player</option>
    <option value="opponent">Opponent</option>
  </select>
</div>
