<h1>{{ title }}</h1>
<table>
  <tr>
    <th *ngFor="let column of arrayOfNumbersFromOneToColumnCount">
      <button (click)="userClicks(column)" [disabled]="!options || winner || noMoreRoomInColumn(column)">
        ⬇️
      </button>
    </th>
  </tr>
  <tr *ngFor="let row of boardUi">
    <td *ngFor="let column of row" [class]="column.StyleClass">
      {{ column.Value }}
    </td>
  </tr>
</table>
<div *ngIf="!options" class="start-game-dialog">
  <button (click)="resetGame()">Start game</button>
</div>
<div *ngIf="winner" class="winner-dialog">
  <h2>{{ winner }} wins!</h2>
  <button (click)="resetGame()">Play again</button>
</div>
<div *ngIf="!options || winner" class="options-dialog">
  <h2>Options</h2>
  <label for="starts-first">Who starts first?</label>
  <select id="starts-first">
    <option value="random">Random</option>
    <option value="player">Player</option>
    <option value="opponent">Opponent</option>
  </select>
</div>